html * {
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    background-image: url("/magebitTask/public/images/Background.png");
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    background-size: cover;
    overflow: hidden;
}

.grid-container {
    display: grid;
    grid-template-columns: auto 23% 460px auto;
    grid-template-rows: 25vh auto auto;
}

.item1 {
    margin: 20px 20px 20px 20px;
    background-color: rgba(16, 26, 47, 0.9);
    grid-area: 2 / 2 / 4 / 4;
}

.item2 {
    grid-area: 2 / 2 / 3 / 3;
    min-width: 400px;
}

.item4 {
    grid-area: 2 / 3 / 3 / 4;
}

.item2 > h1 {
    margin-left: 80px;
    margin-top: 100px;
    color: white;
    font-size: 28px;
    font-weight: lighter;
}

.item2 > p {
    padding: 0 80px 0 80px;
    text-align: left;
    color: white;
    font-size: 18px;
    line-height: 1.5;
    font-weight: normal;
}

.item2 > hr {
    width: 40px;
    border-color: rgb(73, 171, 254);
    margin-left: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.item2 > button {
    text-align: center;
    margin-left: 80px;
    background-color: transparent;
    border: solid;
    border-color: rgb(73, 171, 254);
    border-radius: 24px;
    font-size: 16px;
    font-weight: bold;
    width: 150px;
    height: 50px;
    color: white;
}

.item2 > button:hover {
    background-color: rgb(73, 171, 254);
    border-color: rgb(73, 171, 254);
    border-radius: 24px;
}

.item4 > h1 {
    margin-left: 140px;
    margin-top: 100px;
    color: white;
    font-size: 28px;
    font-weight: lighter;
}

.item4 > p {
    padding: 0 80px 0 140px;
    text-align: left;
    color: white;
    font-size: 18px;
    line-height: 1.5;
    font-weight: normal;
}

.item4 > hr {
    width: 40px;
    border-color: rgb(73, 171, 254);
    margin-left: 140px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.item4 > button {
    text-align: center;
    margin-left: 140px;
    background-color: transparent;
    border: solid;
    border-color: rgb(73, 171, 254);
    border-radius: 24px;
    font-size: 16px;
    font-weight: bold;
    width: 150px;
    height: 50px;
    color: white;
}

.item4 > button:hover {
    background-color: rgb(73, 171, 254);
    border-color: rgb(73, 171, 254);
}

.dashboard {
    grid-area: 2 / 2 / 4 / 4;
    background-color: white;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
}

.dashboard > .header > img {
    margin: 10px 10px 10px 10px;
}

.dashboard > .header > hr {
    width: 50%;
    border-color: rgb(73, 171, 254);
}

.dashboard > div > form {
    margin: 20px 20px 20px 20px;
}


.item3 {
    grid-area: 2 / 3 / 3 / 4;
    margin-right: 40px;

    background-color: white;
}

.item3 > .header {
    margin-top: 100px;
}

.item3 > .header > form {
    padding-left: 80px;
    padding-right: 90px;
}

.item3 > .header > form > p {
    font-size: 28px;
    margin-bottom: 0;
    color: #3e495e;
    font-weight: lighter;
}

.item3 > .header > p {
    padding-left: 80px;
    font-size: 28px;
    margin-bottom: 0;
    color: #3e495e;
    font-weight: lighter;
}


.item3 > .header > hr {
    margin-left: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 40px;
    float: left;
    border-color: rgb(73, 171, 254);
}

.item3 > .header > form > hr {
    width: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
    border-color: rgb(73, 171, 254);
}

input.form {
    width: 50%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    color: #8495b7;
    border-bottom: 2px solid #8495b7;
}

input[id=email], input[id=regemail] {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    color: #8495b7;
    background-image: url(/magebitTask/public/images/ic_mail.png);
    background-repeat: no-repeat;
    background-position: 270px 10px;
    border-bottom: 2px solid #8495b7;
}

input[id=email]:focus, input[id=regemail]:focus {
    background-image: url(/magebitTask/public/images/ic_mail_active.png);
}

input[id=password], input[id=regpassword] {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    color: #8495b7;
    background-image: url(/magebitTask/public/images/ic_lock.png);
    background-repeat: no-repeat;
    background-position: 270px 10px;
    border-bottom: 2px solid #8495b7;
}

input[id=password]:focus, input[id=regpassword]:focus {
    background-image: url(/magebitTask/public/images/ic_lock_active.png);
}

input[id=regusername] {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    color: #8495b7;
    background-image: url(/magebitTask/public/images/ic_user.png);
    background-repeat: no-repeat;
    background-position: 270px 10px;
    border-bottom: 2px solid #8495b7;
}

input[id=regusername]:focus {
    background-image: url(/magebitTask/public/images/ic_user_active.png);
}

input[type=submit] {
    background-color: #f89a35;
    border: solid;
    border-color: #f89a35;
    border-radius: 24px;
    font-size: 16px;
    width: 150px;
    height: 50px;
    color: white;
    font-weight: bold;
    align: center;
}

#dashboardSubmit {
    margin: 20px 0 0 0;
}

#dashboardSubmit:hover {
    margin: 20px 0 0 0;
    background-color: #f8bf35;
    border-color: #f8bf35;
}

input[type=submit]:hover {
    background-color: #f8bf35;
    border-color: #f8bf35;

}

input[type=button] {
    margin: 10px 10px 10px 10px;
    background-color: #f89a35;
    border: solid;
    border-color: #f89a35;
    border-radius: 24px;
    font-size: 16px;
    width: 150px;
    height: 50px;
    color: white;
    font-weight: bold;
    align: center;
}

input[type=button]:hover {
    margin: 10px 10px 10px 10px;
    background-color: #f8bf35;
    border: solid;
    border-color: #f8bf35;
    border-radius: 24px;
    font-size: 16px;
    width: 150px;
    height: 50px;
    color: white;
    font-weight: bold;
    align: center;
}

#login, #sign-up {
    width: 100%;
    min-height: 460px;
    right: 40px;
    position: relative;
    background-color: white;
}

#login {
   z-index: 1;
}

#triangle-toplgn {
    width: 0;
    height: 0;
    position: absolute;
    border-bottom: 20px solid #82d1f1;
    border-left: 10px solid transparent;
    right: 460px;
}

#triangle-btmlgn {
    width: 0;
    height: 0;
    border-top: 20px solid #82d1f1;
    position: absolute;
    border-left: 10px solid transparent;
    top: 440px;
    right: 460px;
}

#rectangle {
    width: 10px;
    min-height: 420px;
    top: 20px;
    background: #373737;
    position: absolute;
    right: 460px;
    z-index: -1;
}